<div class="row">
  <div class="col-4"></div>
  <input type="button" class="col-3 key" (click)="click(keys[0])" [value]="keys[0].icon"
         [disabled]="keys[0].disabled">
  <input type="button" class="col-3 key" (click)="click(keys[1])" [value]="keys[1].icon"
         [disabled]="keys[1].disabled">
</div>
<div class="row">
  <div class="col-4"></div>
  <input type="button" class="col-3 key" (click)="click(keys[2])" [value]="keys[2].icon"
         [disabled]="keys[2].disabled">
  <input type="button" class="col-3 key" (click)="click(keys[3])" [value]="keys[3].icon"
         [disabled]="keys[3].disabled">
</div>
