<div class="container">
  <div class="starter-template">
    <h1>Missie Digital Fortress</h1>
    <p class="lead paladin">Ontcijferen. Cryptografie.</p>
    <div class="fa fa-lock fa-4x"></div>
  </div>
  <div class="starter-template row">
    <div class="col-2"></div>
    <div class="col-8">
      <video #videoPlayer class="full">
        <source src="/assets/video/mission3.mp4">
        Browser not supported...
      </video>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h1>Mission Briefing</h1>
      <p>
        <i>De bunker.</i> - Een geheime ruimte onder deze basis heeft zijn laatste geheimen nog niet prijs gegeven. Een
        zekere D.V. heeft hier allerlei codes achtergelaten. We moeten zijn snode plannen dwarsbomen. We weten echter
        niet wat hij of zij van plan is. Vertaal de codes en misschien kunnen we zo groter leed voorkomen.
      </p>
      <ul>
        <li>Ga naar de bunker en probeer de codes op te lossen.</li>
        <li>Verniel niets want dat zou wel eens booby traps kunnen activeren.</li>
        <li>Verplaats alleen voorwerpen als je weet waarvoor je deze nodig hebt. Ook hier om valstrikken te vermijden.
        </li>
        <li>Omwille van stralingsgevaar mag iedereen maar één keer de bunker binnen gaan. Verlaat je de ruimte, dan mag
          je hier niet meer in.
        </li>
        <li>Succesvol of niet, keer terug binnen de 15 minuten.</li>
      </ul>
    </div>
    <div class="map col-6 container">
      <img class="full" src="../../../assets/maps/map.png">
      <div class="fa fa-crosshairs fa-3x arrow blink"></div>
    </div>
  </div>
  <div class="starter-template">
    This message will self destruct in {{duration?.minutes | number:'2.0-0'}}:{{duration?.seconds | number:'2.0-0'}}.
  </div>
</div>
