<div class="container">
  <div class="starter-template">
    <h1>Missie Minotaur</h1>
    <p class="lead paladin">Infiltratie.</p>
    <div class="fa fa-user-secret fa-4x"></div>
  </div>
  <div class="starter-template row">
    <div class="col-2"></div>
    <div class="col-8">
      <video #videoPlayer class="full">
        <source src="/assets/video/01189998819991197253.mp4">
        Browser not supported...
      </video>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h1>Mission Briefing</h1>
      <p>
        Een laser grid? Camera's? Hier moet wel iets heel belangrijk worden opgeslagen. Zoek je weg met het team
        doorheen het grid, maar pas wel op dat je de lasers niet raakt. Blijf ook uit het zicht van de camera's.
        Misschien dat je deze voorzichtig moet wegdraaien om het pad vrij te maken?
        Bij het raken van de lasers of het gezien worden door de camera's gaat een stil alarm af.
        De bewakers komen dan in actie. Verlaat de ruimte dan zo vlug mogelijk of verstop je heel erg goed.
        Bij detectie worden strafpunten aangerekend.
      </p>
      <ul>
        <li>Vermijd contact met de lasers.</li>
        <li>Blijf uit het zicht van de camera .</li>
        <li>Iedereen mag maximaal één code zelf meenemen.</li>
        <li>Iemand die de wacht houdt, is geen overbodige luxe.</li>
        <li>Succesvol of niet, keer terug binnen de 15 minuten.</li>
      </ul>
    </div>
    <div class="map col-6 container">
      <img class="full" src="../../../assets/maps/map.png">
      <div class="fa fa-crosshairs fa-3x arrow blink"></div>
    </div>
  </div>
  <div class="starter-template">
    This message will self destruct in {{duration?.minutes | number:'2.0-0'}}:{{duration?.seconds | number:'2.0-0'}}.
  </div>
</div>
