<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <a class="navbar-brand" href="#">Bombastic</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <!--
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        -->
    </ul>
    <form #form class="form-inline my-2 my-lg-0">
      <input #pin
             class="form-control mr-sm-2"
             type="password"
             placeholder="Pin Code"
             (keyup.enter)="start(pin.value, form)">
      <button class="btn btn-success my-2 my-sm-0"
              type="button"
              (click)="start(pin.value, form)">
        Start
      </button>
    </form>
  </div>
</nav>
